[submodule "2d-game-2023-whisper-mafia"]
	path = 2d-game-2023-whisper-mafia
	url = git@github.com-school:comp159/2d-game-2023-whisper-mafia.git
[submodule "NoOsv"]
	path = NoOsv
	url = git@github.com-school:comp159/2d-with-3d-no-osvaldo-i-will-not-pick-a-team-name.git
[submodule "OAOS"]
	path = OAOS
	url = git@github.com-school:comp159/game-jam-2d-onlyavailableonscreaming.git
[submodule "Individual 3D Game"]
	path = Individual 3D Game
	url = git@github.com-school:comp159/individual-3d-assignment-bngo13.git
